<any>0;/*</any>
<style>
    any {
        display: none;
    }
</style>
<!--
<%
//プリプロセッサ
let _ejsdata = {};


%>
<% global._echostr = ''; if (false) { %>
-->
<!-- start -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- end -->
    <!-- sstart -->
    <style type="text/less">
    </style>
    <!-- end -->
    <!-- start -->
    <title></title>
</head>

<body>


    <!-- end -->
    <textarea id="_ts" style="display:none;">/**/ //<!-- cstart -->




//  <!-- end --></textarea>
    <any>0;/*</any>
    <!-- fstart -->
    <script src="clienttrans.js">
        /*<!-- clienttrans.js -->*/
    </script>
    <!-- end -->
    <!-- start -->
</body>

</html>
<!-- end -->
<!-- <% } else {
            /*<!-- servertrans.js -->*/ include('./servertrans.js', {__filename: __filename, _ejsdata: _ejsdata}); include('./templatecompile.js', {__filename: __filename});
} %><%- _echostr %>
    -->
    <!--*/ //-->